graft kr-openssl-install/include
include kr-openssl-install/lib/libcrypto.lib
include kr-openssl-install/bin/libcrypto-3-x64.dll
include kr-openssl-install/lib/ossl-modules/fips.dll
include kr-openssl-install/bin/openssl.exe
include kr-openssl-install/bin/openssl
global-include *.so
global-include *.a
global-include *.so.3
global-include *.md
global-exclude libssl.*
graft kr-openssl-config
graft CryptoLib
