graft openssl-install/include
include openssl-install/lib/libcrypto.*
include openssl-install/bin/libcrypto-3-x64.*
include openssl-install/lib/ossl-modules/fips.*
include openssl-install/bin/openssl.*
graft openssl-config
graft CryptoLib
include openssl.cnf 
