graft kr-openssl-install/include
include kr-openssl-install/lib/libcrypto.lib
include kr-openssl-install/bin/libcrypto-3-x64.dll
include kr-openssl-install/lib/ossl-modules/fips.dll
include kr-openssl-install/bin/openssl.exe
include kr-openssl-install/bin/openssl
include kr-openssl-install/lib64/libcrypto.so
include kr-openssl-install/lib64/libcrypto.so.3
include kr-openssl-install/lib64/libssl.so.3
include kr-openssl-install/lib64/libssl.so
include kr-openssl-install/lib64/libcrypto.a
include kr-openssl-install/lib64/ossl-modules/fips.so
include kr-openssl-install/lib/libcrypto.so
include kr-openssl-install/lib/libcrypto.so.3
include kr-openssl-install/lib/libssl.so.3
include kr-openssl-install/lib/libssl.so
include kr-openssl-install/lib/libcrypto.a
include kr-openssl-install/lib/ossl-modules/fips.so
include *.md
graft kr-openssl-config
graft CryptoLib
