cibuildwheel
asgiref==3.8.1
asn1crypto==1.5.1
astroid==3.2.2
cbor2==5.6.3
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
dill==0.3.8
Django==4.2.13
Flask==3.0.3
greenlet==3.0.3
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==24.0
pep517==0.13.1
platformdirs==4.2.2
pybind11==2.12.0
pycparser==2.22
pydantic==2.7.1
pyenchant==3.2.2
pylint==3.2.2
pyOpenSSL==24.1.0
pyparsing==3.1.2
SQLAlchemy==2.0.30
sqlparse==0.5.0
tomli==2.0.1
tomlkit==0.12.5
typing_extensions==4.12.0
tzdata==2024.1
webauthn==1.11.1
Werkzeug==3.0.3
wrapt==1.16.0
