asgiref==3.7.2
asn1crypto==1.5.1
astroid==2.15.5
build==0.10.0
cbor2==5.4.6
cffi==1.15.1
click==8.1.3
colorama==0.4.6
cryptography==41.0.1
dill==0.3.6
Django==4.2.2
Flask==2.3.2
greenlet==2.0.2
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.1
pep517==0.13.0
platformdirs==3.5.3
pybind11==2.10.4
pycparser==2.21
pydantic==1.10.9
pyenchant==3.2.2
pylint==2.17.4
pyOpenSSL==23.2.0
pyparsing==3.0.9
SQLAlchemy==2.0.16
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.3
tzdata==2023.3
webauthn==1.8.1
Werkzeug==2.3.6
wrapt==1.15.0
