
config_diagnostics = 1
openssl_conf = openssl_init

.include C:/Users/markb/source/repos/krypton/kr-openssl-config/fipsmodule.cnf

[openssl_init]
providers = provider_sect

[provider_sect]
fips = fips_sect
base = base_sect

[base_sect]
activate = 1
